{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltins": true,
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-inline-elements"
      ]
    }
  }
}
