apiVersion: cloud.google.com/v1beta1
kind: BackendConfig
metadata:
  name: cdn-backend-config
  namespace: ${namespace}
spec:
  cdn:
    enabled: true
    cachePolicy:
      includeHost: true
      includeProtocol: true
      includeQueryString: false
