kms:
  location: us-central1
  keyring: cloudbuild
  key: github
encryptedWebhookSecret: CiQAxdYgHJzEgJXJ/l+eg+u7+WT8yejTJ00Biuuhat3Djo5C5tUSPQA/OpLBWUBJ9F6r91TMvwjB5UxS2FlgR0FB5iQBlV5lIkqrlrQ+81U3QxvDI20ENqllbYG+hWZ9f4xwjj4=
repos:
  curioswitch/curiostack:
    encryptedGithubToken: CiQAxdYgHKy7zJMVlxWy8cIw05kknrquhxEOlNjZyZlWoj5Cnc8SUQA/OpLBO9ycMNajhYGLluk2Kji4Do5vT9DqV/zVmFdJ7orxk6n0bTw8cUY+gjp8IohjMdpt8ElWrRkChYzY2FLQIlGo+eldnEPUttZg1vWDjA==
    cloudbuild:
      steps:
        - id: fetch-source
          waitFor:
          - '-'
          name: gcr.io/cloud-builders/gcloud
          entrypoint: bash
          args:
            - '-c'
            - |
              echo 'echo $$GITHUB_TOKEN' > /tmp/cloudbuild-github-pass.sh && \
              chmod +x /tmp/cloudbuild-github-pass.sh && \
              git init && \
              git fetch --no-tags --progress $_REPOSITORY_URL +$_OTHER_BRANCH_REMOTE_REF:$_OTHER_BRANCH_LOCAL_REF +$_BASE_BRANCH_REMOTE_REF:$_BASE_BRANCH_LOCAL_REF && \
              git config remote.origin.url $_REPOSITORY_URL && \
              git config user.name cloudbuild && \
              git config user.email cloudbuild@example.com && \
              git checkout -f $_OTHER_BRANCH_LOCAL_REF && \
              git merge --no-ff --no-edit --no-progress $_BASE_BRANCH_LOCAL_REF && \
              MERGE_REV=$(git rev-parse HEAD^{commit}) && \
              git checkout -f $_BASE_BRANCH_LOCAL_REF && \
              git merge --no-ff --no-edit --no-progress $$MERGE_REV && \
              MERGE_REV=$(git rev-parse HEAD^{commit}) && \
              git checkout -f $$MERGE_REV
          env:
            - GIT_ASKPASS=/tmp/cloudbuild-github-pass.sh
          secretEnv:
            - GITHUB_TOKEN
        - id: curio-generated-fetch-builder-image
          waitFor:
          - '-'
          name: curiostack/java-cloud-builder
          entrypoint: bash
          args:
          - -c
          - echo Fetched builder image.
        - id: curio-generated-fetch-compressed-build-cache
          waitFor:
          - '-'
          name: curiostack/gsutil-lz4
          volumes:
          - name: gradle-wrapper
            path: /root/.gradle/wrapper
          - name: gradle-caches
            path: /root/.gradle/caches
          dir: /root/.gradle
          entrypoint: ash
          args:
          - -c
          - gsutil cp gs://curioswitch-gradle-build-cache/cloudbuild-cache-compressed.tar.lz4 /tmp/cloudbuild-cache-compressed.tar.lz4 && lz4 -dc /tmp/cloudbuild-cache-compressed.tar.lz4 | tar -xp || echo Could not fetch compressed build cache...
        - id: build-all
          waitFor:
          - fetch-source
          - curio-generated-fetch-compressed-build-cache
          name: curiostack/java-cloud-builder
          volumes:
          - name: gradle-wrapper
            path: /root/.gradle/wrapper
          - name: gradle-caches
            path: /root/.gradle/caches
          entrypoint: ./gradlew
          args:
          - continuousBuild
          - --stacktrace
          - --no-daemon
          env:
            - CI=true
            - GITHUB_PR_REMOTE_REF=$_OTHER_BRANCH_REMOTE_REF
            - CLOUDBUILD_BUILD_ID=$BUILD_ID
          secretEnv:
            - CODECOV_TOKEN
      timeout: 60m
      secrets:
        - kmsKeyName: projects/curioswitch-cluster/locations/us-central1/keyRings/cloudbuild/cryptoKeys/github
          secretEnv:
            GITHUB_TOKEN: CiQAxdYgHKy7zJMVlxWy8cIw05kknrquhxEOlNjZyZlWoj5Cnc8SUQA/OpLBO9ycMNajhYGLluk2Kji4Do5vT9DqV/zVmFdJ7orxk6n0bTw8cUY+gjp8IohjMdpt8ElWrRkChYzY2FLQIlGo+eldnEPUttZg1vWDjA==
            CODECOV_TOKEN: CiQAxdYgHOdQ5tY7WYjvBYlUsXk9g4GvELjEJZhEIFcxrkuDKY4STQA/OpLB7g9Gr8K5MZrwZXVDH/Ste1P6ZOFJl0TYILjU31c72w8Mmhde5JJv1VyEHW+67h8UARJHh6yOktrGFBU6wGzKDud0p6az3PoW
