name: Build CafeMap

on:
  push:
    paths:
      - 'cafe-map/client/unity/**'
      - '.github/workflows/unity-build-cafemap.yml'
    branches: 'master'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v1
        with:
          lfs: true
      - uses: actions/cache@v1.1.0
        with:
          path: cafe-map/client/unity/Library
          key: Library-CafeMap-Android
          restore-keys: |
            Library-CafeMap-
            Library-
      - name: Build for Android
        uses: webbertakken/unity-builder@v1.4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE_UBUNTU }}
        with:
          projectPath: cafe-map/client/unity
          unityVersion: 2019.4.12f1
          targetPlatform: Android
          androidKeystoreName: /tmp/cafemap-release.keystore
          androidKeystoreBase64: ${{ secrets.CAFEMAP_ANDROID_KEYSTORE_BASE64 }}
          androidKeystorePass: ${{ secrets.CAFEMAP_ANDROID_KEYSTORE_PASS }}
          androidKeyaliasName: cafemap-release
          androidKeyaliasPass: ${{ secrets.CAFEMAP_ANDROID_KEYSTORE_PASS }}
          # Unclear why this check isn't working but it doesn't matter since we know
          # the build is clean.
          allowDirtyBuild: true
      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: Build
          path: build
